[Unit]
Description=Prune data from the restic repository monthly

[Timer]
OnCalendar=*-*-1 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
